*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background: #9af59a;
    
    background-image: url("hospital-1802679_1280.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}
.cabeza {
    background: #054112;
    text-align: center;
    color: white;
}

.nav-bar {
    background: #075c19;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 0;
    font-size: 1.3rem;
    color: white;
}

.nav-bar ul li {
    display: inline;
    margin: 10px;
}

.contenido {
    background: #deffde;
    padding: 55px;  
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    border-radius: 10px;
    width: 55%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    
    background: #054112;
    text-align: center;
    color: white;
    padding: 36px;
    width: 100%;
}


.nav-bar ul li a {
    color: white; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Opcional: Elimina el subrayado de los enlaces */
}

.nav-bar ul li a:hover {
    color: goldenrod; /* Un blanco un poco más claro para el efecto hover (opcional) */
}